@font-face {
  font-family: 'SourceSansPro';
  src: url('../assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('../assets/fonts/source-sans-pro/SourceSansPro-Light.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('../assets/fonts/source-sans-pro/SourceSansPro-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('../assets/fonts/source-sans-pro/SourceSansPro-Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}
